[worldserver]

########################################
# Treasure Find
########################################
#
#    Twisted.Treasures.Enable
#        Description: Enable the Treasure Find system
#        Default:     0 - Disabled
#                     1 - Enabled
#

Twisted.Treasures.Enable = 1

########################################
# Rewards
########################################
#
#    Twisted.Rewards.Enable
#        Description: Enable the Treasure Find system
#        Default:     0 - Disabled
#                     1 - Enabled
#

Twisted.Rewards.Enable = 1
Twisted.Rewards.StartingRewardXP = 0
Twisted.Rewards.RewardGrantThreshold = 10000
Twisted.Rewards.LevelUpXP = 6000
Twisted.Rewards.OnCreatureKillInLevelRangeXP = 100
Twisted.Rewards.OnCreatureKillAnyLevelXP = 25
Twisted.Rewards.OnQuestTurnInXp = 2350
Twisted.Rewards.NumDefs = 1
Twisted.Rewards.Def1.RewardItemId = 60046
Twisted.Rewards.Def1.MinLevel = 1
Twisted.Rewards.Def1.MaxLevel = 9

########################################
# Item Imbue
########################################
#
#    Twisted.ItemImbue.Enable
#        Description: Enable the Item Imbue system
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    Twisted.ItemImbue.ArmorUniqueChance
#    Twisted.ItemImbue.ArmorUniqueEnchantIds
#        Description: Enchantments that can only appear on armor. The Chance value determines how often imbuing an armor item will result in
#			an enchantment from this unique list. This list will take priority over a Tier Upgrade, so these enchantments can appear at any item level.
#
#    Twisted.ItemImbue.WeaponUniqueChance
#    Twisted.ItemImbue.WeaponUniqueEnchantIds
#        Description: Enchantments that can only appear on weapons. The Chance value determines how often imbuing a weapon item will result in
#			an enchantment from this unique list. This list will take priority over a Tier Upgrade, so these enchantments can appear at any item level.
#
#    Twisted.ItemImbue.UpgradeChance
#        Description: Defines the chance that any given Imbue will result in an upgrade to the next tier.
#
#    Twisted.ItemImbue.NumTiers
#    Twisted.ItemImbue.Tier#.ItemIds
#    Twisted.ItemImbue.Tier#.EnchantIds
#        Description: Defines the number of Tiers of enchantments that exist.
#			ItemIds define the source items that grant this tier of enchantment.
#			EnchantIds is the list of entries in SpellItemEnchantment.dbc that will be placed on the target item.
#			You can add more tiers by increasing NumTiers and duplicate the the two id fields.
#

Twisted.ItemImbue.Enable = 1
Twisted.ItemImbue.ArmorUniqueChance = 25.0
Twisted.ItemImbue.ArmorUniqueEnchantIds = 2835,2833,250,1890
Twisted.ItemImbue.WeaponUniqueChance = 25.0
Twisted.ItemImbue.WeaponUniqueEnchantIds = 864,1763,2828,2834,3102,3643
Twisted.ItemImbue.TierUpgradeChance = 10.0
Twisted.ItemImbue.NumTiers = 1
Twisted.ItemImbue.Tier1.ItemIds = 60044,60045
Twisted.ItemImbue.Tier1.EnchantIds = 847,911,1583,2857,3894,3899