#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Twisted Items configuration
########################################
#
#    TwistedItems.Enable
#        Description: Enable the Twisted Items capability
#        Default:     0 - Disabled
#                     1 - Enabled
#

Twisted.Enable = 0
